<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider and Cards</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <style>
        body {
            font-family: 'Ubuntu';
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            cursor: url("/img/icons8-cursor-24.ico"), auto;
            background-size: cover;
            background-attachment: fixed;
            min-height: 100vh;
            animation: color 12s ease-in-out infinite;
        }
        @keyframes color{
            0%{
                background-position: 0 50%;
            }
            50%{
                background-position: 100% 50%;
            }
            100%{
                background-position: 0 50%;
            }
        }
        .bg-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            background-size: cover;
            background-position: center top; /* Shift the image up */
            z-index: -1;
            background-size: 400% 400%;
            animation: gradientAnimation 15s ease infinite;
        }
        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        .dark-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(/img/noise.jpg);
            opacity: 0.1; /* Adjust the opacity to make it darker or lighter */
            z-index: -1;
        }
        .slider {
    position: relative;
    width: 1980px;
    height: 480px;
    max-width: 1422px;
    margin: 100px auto 0;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
        .slider:hover {
    transform: scale(1.02);
    border: 2px solid white;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

        .slide {
    height: 100%;
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

        .slide img{
            background-color: rgba(0, 0, 0, 0.2);
            object-fit: cover;
            transition: transform 2s ease;
            animation: translateUpDown 10s ease-in-out infinite;
        }
        @keyframes translateUpDown {
    0% {
        transform: translateY(100);
    }
    50% {
        transform: translateY(-40%);
    }
    100% {
        transform: translateY(0);
    }
}
        .slider:hover .slide img {
        animation: translateUpDown 10s ease-in-out infinite;
}
        img{
            max-width: 100%;
            max-height: 100%;
        }

        #button1 {
            z-index: 10000;
            position: absolute;
            left: 10px;
            top: 50%;
            width: 50px;
            height: 50px;
            border-radius: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            cursor: pointer;
            transform: translateY(-50%);
        }
        #button2 {
            z-index: 10000;
            position: absolute;
            right: 10px;
            top: 50%;
            width: 50px;
            height: 50px;
            border-radius: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            cursor: pointer;
            transform: translateY(-50%);
        }
        .slide-content {
    display: flex;
    align-items: flex-end;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-info {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-left: 10px;
    max-width: 70%;
}

.product-info h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.product-info p {
    margin-top: 0;
}

        h2 {
            text-align: left;
            margin: 25px 0 25px;
            font-size: 2em;
            width: 100%;
            padding-left: 30px;
            color: rgb(255, 255, 255);
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            height: 250px;
        }
        .card {
            background: rgba(0, 0, 0, 0.626);
            border-radius: 5px;
            padding: 15px;
            margin: 10px;
            width: calc(33% - 20px); /* Increased width */
            box-sizing: border-box;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: transform 0.2s ease-in, border 0.1s ease ;
        }
        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
        }
        .card img {
            max-width: 200px;
            max-height: 300px;
            border-radius: 5px;
            margin-right: 15px;
           
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
        }
        .card:hover img {
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        }
        .card:hover {
            transform: scale(1.05);
            border: 2px solid white;
        }
        .card .price {
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
            margin-bottom: 10px;
        }
        .card h3 {
            margin: 10px 0 5px;
            color: #f6f1f1;
        }
        .card p {
            color: #f4f3f3;
        }
        .wishlist {
            width: 100%;
  appearance: button;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #928f8f 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #050505;
  cursor: pointer;
  display: inline-block;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
        }

        .wishlist:focus {
            text-decoration: none;
        }

        .wishlist:hover {
            text-decoration: none;
        }

        .wishlist:active {
            box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
            outline: 0;
        }

        .wishlist:not([disabled]):active {
            box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
            transform: translate(2px, 2px);
        }

.buy-now {
    width: 100%;
  appearance: button;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #928f8f 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #050505;
  cursor: pointer;
  display: inline-block;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.buy-now:focus {
  text-decoration: none;
}

.buy-now:hover {
  text-decoration: none;
}

.buy-now:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.buy-now:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .buy-now {
    padding: 12px 50px;
  }
}
    </style>

</head>
<body>
    <iframe src="navbar.html" style="width: 100%; height: 60px; border: none; position: fixed; top: 0; left: 0; z-index: 1000;"></iframe>
    <div class="bg-image"></div>
    <div class="dark-overlay"></div>
    <!-- Your navbar iframe -->
    <div class="slider">
        <button id="button1">&#10094;</button>
        <button id="button2">&#10095;</button>
        <div class="slides">
            <div class="slide">
                <img src="/img/wallpaperflare.com_wallpaper (16).jpg" alt="Slide 1">
            </div>
            <div class="slide">
                <img src="/img/wallpaperflare.com_wallpaper (12).jpg" alt="Slide 2">
            </div>
            <div class="slide">
                <img src="/img/battlefield.jpg" alt="Slide 3">
            </div>
            <div class="slide">
                <img src="/img/breakpoint.png" alt="Slide 4">
            </div>
            <div class="slide">
                <img src="/img/wallpaperflare.com_wallpaper (15).jpg" alt="Slide 5">
            </div>
            <div class="slide">
                <img src="/img/fc 24.jpg" alt="Slide 1">
            </div>
        </div>
    </div>


    <div class="cards">
        <h2>New Releases</h2>
        <div class="card">
            <img src="img/gta.jpg" alt="Your Image">
            <div class="card-content">
            <h3>Card Title 1</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <div class="price">$19.99</div>
            <button class="wishlist" onclick="playClickSound();addToWishlist()">Add to Wishlist</button>
            <button class="buy-now" onclick="playClickSound()">Buy Now</button>
            <audio id="clickSound" src="/img/mixkit-cool-interface-click-tone-2568.wav"></audio>
            </div>
        </div>
        <div class="card">
            <img src="/img/1.Sony Ps5 Spiderman 2 Standard Edn..jpg" alt="Card 2">
            <div class="card-content">
            <h3>Card Title 2</h3>
            <p>Quisque at nulla at</p>
            <div class="price">$19.99</div>
            <button class="buy-now" onclick="playClickSound()">Buy Now</button>
            <audio id="clickSound" src="/img/mixkit-cool-interface-click-tone-2568.wav"></audio>
            </div>
        </div>
        <div class="card">
            <img src="/img/gow ps5.jpg" alt="Card 3">
            <div class="card-content">
            <h3>Card Title 3</h3>
            <p>Fusce ac turpis nec justo</p>
            <div class="price">$19.99</div>
            <button class="buy-now" onclick="playClickSound()">Buy Now</button>
            <audio id="clickSound" src="/img/mixkit-cool-interface-click-tone-2568.wav"></audio>
            </div>
        </div>
        <div class="card">
            <img src="/img/ac valhalla ps5.jpg" alt="Card 4">
            <div class="card-content">
            <h3>Card Title 4</h3>
            <p>Curabitur vehicula nisl eu</p>
            <div class="price">$19.99</div>
            <button class="buy-now" onclick="playClickSound()">Buy Now</button>
            <audio id="clickSound" src="/img/mixkit-cool-interface-click-tone-2568.wav"></audio>
            </div>
        </div>
        <div class="card">
            <img src="/img/miles morales.jpg" alt="Card 5">
            <div class="card-content">
            <h3>Card Title 5</h3>
            <p>Aliquam erat volutpat. Donec</p>
            <div class="price">$19.99</div>
            <button class="buy-now" onclick="playClickSound()">Buy Now</button>
            <audio id="clickSound" src="/img/mixkit-cool-interface-click-tone-2568.wav"></audio>
            </div>
        </div>
        <div class="card">
            <img src="/img/mk.jpg" alt="Card 6">
            <div class="card-content">
            <h3>Card Title 6</h3>
            <p>Sed consequat massa vel felis</p>
            <div class="price">$19.99</div>
            <button class="buy-now" onclick="playClickSound()">Buy Now</button>
            <audio id="clickSound" src="/img/mixkit-cool-interface-click-tone-2568.wav"></audio>
            </div>
        </div>
    </div>
    <script src="ps5 disc.js"></script>
</body>
</html>
