body {
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Make the background image fixed when scrolling */
    background-repeat: no-repeat; /* Do not repeat the background image */
    margin: 0;
    font-family: Consolas,monaco,monospace;
    height: 100%;
    cursor: url('/img/icons8-cursor-24.ico'), auto;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/noise.jpg);
    opacity: 0.3; /* Adjust the opacity to make it darker or lighter */
    z-index: -1;
}

.wrapper {
    
    background: transparent;
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    left: 400px;
    top: 50px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.typing-demo {
    font-size: 40px;
    text-align: center;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
    letter-spacing: 2px; /* Adjust letter spacing for typing effect */
    animation: typing 1s linear;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
input[type="text"], input[type="password"] {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.terms {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.terms input {
    margin-right: 5px;
}
.terms label{
    margin-left: 5px;
    margin-bottom: 0;
    width: 80%;
    color: white;
    padding: 13px;
    text-align: center;
}
.terms label a {
    color: #3d00d7;
}
button {
    display: block;
    width: calc(90% - 8px); /* Adjusted width to make the size equal */
    margin: 10px auto; /* Center elements horizontally */
    padding: 13px;
    border-radius: 5px;
    box-sizing: border-box;
}
button:hover {
    background-color: #4b00b4;
    color: white;
}
.member {
    text-align: center;
    margin-top: 20px;
    color: white;
}
.member a{
    color: #3d00d7;
}